/* CSS Document */
.login-border,.login-button{
	border:1px solid #000;
	margin:auto;
	text-align:center;
	margin-top:50px;
	width:500px;
	height:280px;
	color:#FFF;
	background-color:#00b3ac;
}
.ka-font{
	padding-top:20px;
	font-family:Impact;
}

.khmer-font{
	float:left;
	padding-top:8px;
	font-family:'Khmer OS System';
}
.facebook-logo{
	float:left;
}
img{
	height:70px;
	width:70px;
	margin: 3px 10px 0px;;
}

.login-button{
	width:90%;
	height:80px;
	border-radius:10px;
	background-color:#3B5998;
	border:2px solid #FFF;
}





