@charset "utf-8";
/* CSS Document */

/* Max Screen 1024px */
@media (max-width:1024px) {
	/* Start Toggle Button */
	.navbar-header {
        float: none;
    }
	.navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
	.navbar-default .navbar-toggle .icon-bar{
		background-color: #FFF;	
	}
	.navbar-default .navbar-toggle{
		border: 2px solid #FFF;	
	}
	/* End Toggle Button */
	
	/* Start Menu */
	.menu {
		width: 100%;
	}
	.header-right {
		padding: 12px 20px 0px;
		width: 100%;
	}
	#header .search {
		width: 100%;	
	}
	.btn-ask-q, .btn-find-q, .btn-login, #header input{
		width: 100%!important;
		margin: 0 0 5px;
	}
	.btn-find-q{
		border-right: 2px solid #EEE;
		border-left: 2px solid #DDD;
	}
	/* End Menu */
}

/* Max Screen 768px */
@media (max-width:768px) {
	/* Start Header */
	.header-right {
		padding: 12px 0px 0px;
	}
	/* End Header */
}