/* Max Screen 320px for font-size */
@media (max-width:412px){
	.login-border,.login-button{
		border:1px solid #000;
		margin:auto;
		text-align:center;
		margin-top:50px;
		width:100%;
		height:300px;
		position:relative;
		background-color:#00b3ac;
	}
	.ka-font{
		font-size:24px;
		font-family:Impact;
	}
	.khmer-font{
		float:left;
		font-size:16px;
		padding-top:5px;
		font-family:Khmer OS;
	}
	.facebook-logo{
		width:80px;
		float:left;
	}
	.login-button{
		width:90%;
		height:60px;
		border-radius:10px;
		background-color:#3B5998;
		border:2px solid #FFF;
	}
	img{
		width:100px;
		 height:60px;
		}
}