.q-head {
	margin-bottom: 10px;
	color: #FFF;
}

.q-head a{
	color: #000;
}

.q-head table thead tr td {
	padding: 10px 0px;
	border: 1px solid #FFF;
}
.new-q, .top-q  {
	background-color: #00b3ac;
	text-align: center;
	display: inline-block;
	width: 50%;
}

.new-q:hover, .top-q:hover {
	cursor: pointer;
	background-color: #00b3ac;
}

.active a {
	color: #FFF;
}

.not-active a:hover{
	color: #FFF;
}

.name-right{
	text-align: right;
	font-size: 15px;
}

.name-right a {
	color: #333;
	font-weight: bold;
}

hr{
	border-top: 1px solid #DDD;
}

.name-tag-index{
	background-color: #999;
	color: white;
	font-size: 10px;
	padding: 1px 5px;
	border-radius: 2px;
	margin-right: 5px;
	text-transform: uppercase;
}

.q-tag {
	padding: 0px;
}
.q-tag a:hover{
	text-decoration: none;
}

.name-tag-index:hover{
	color: #DDD;
}

.question a{
	color: #333;
}

.show-more {
	text-align: center;
	margin-top: 40px;
}

.show-more a {
	color: #000;
}

.show-more h4 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}