@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 70px 0px 0px;
	background-color: #FFF;
	font-family: 'Khmer OS System';
	font-size: 16px;
}

.zero {
	padding: 0px;
	margin: 0px;	
}

hr {
	border-top: 1px solid #DDD;
}
/* Start Toggle Button */
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	position: relative;
	transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	top: 6px;
	transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	top: -6px;
	transform: rotate(-45deg);
}
/* End Toggle Button */

/* Start Header */
#header {
  	background-color: #00b3ac;
  	width: 100%;
  	padding: 5px 0px;
}

.header-left {
	padding: 0px 20px 0px;	
}

.header-right {
	padding: 12px 0px 0px 50px;	
	width: 100%;
}

.btn-ask-q, .btn-login {
	border: 2px solid #FFF;
	background-color: #00b3ac;
	color: #FFF;
	font-weight: bold;	
}

.btn-login {
	float: right;
}

.btn-ask-q {
	margin-left: 20px;	
}

.btn-ask-q:hover, .btn-tag:hover, .btn-login:hover {
	border: 2px solid #FFF;
	background-color: #FFF;
	color: #333;
	font-weight: bold;	
}

.btn-find-q {
	font-weight: bold;
	height: 36px;
}

#header input {
	width: 300px;
	height: 36px;
}

.profile-pic .profile-img, .profile-pic .profile-name {
	display: inline-block;
	vertical-align: bottom;
}

.profile-pic {
	float: right;
	color: #FFF;
}
.profile-pic span {
	font-size: 25px;
	text-align: left;
	vertical-align: top;
}
.profile-name {
	color: #FFF;
}

.profile-img {
	margin-top: -10px;
}

/* End Header */

/* Start Category */
.main {
	margin-top: 20px;
	padding: 0px;
}

.cat-title {
	background-color: #00b3ac;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #00b3ac;
}

.cat .list-group-item-action{
	padding-left: 40px;
}

.list-group-item-action {
	border: 1px solid #00b3ac;
}

/* End Category */

/* Start Question Detail */
#q-title {
	font-size: 18px;
	font-weight: bold;
}

.q-detail, .q-des, .q-answer{
	margin-top: 20px;
}

.q-profile img, .q-profile h4 , .q-time{
	display: inline-block;
}

.q-time{
	padding-left: 10px;
}

.q-profile a {
	color: #000;
}

.q-profile a h4:hover {
	color: #000;
	text-decoration: underline;
}

.q-profile a h4 {
	padding-left: 10px;
}

.q-like, .q-txt {
	display: inline-block;	
}

.q-like {
	vertical-align: top;	
	width: 90px;
}

.num-like {
	padding: 0px 5px;
	font-weight: bold;
}

.q-show {
	margin-top: 20px;
}

.q-share, .q-view {
	padding-left: 50px;	
}

.q-share a {
	color: #000;	
}

.q-share a:hover {
	color: #337ab7;	
}

.q-answer-profile,  .q-answer-profile h4  {
	display: inline-block;
}

.q-answer-profile h4 {
	padding-left: 10px;
}

.q-answer-profile a {
	color: #000;
}

.q-answer-profile h4:hover {
	color: #000;
	text-decoration: underline;
}

.q-answer-like, .q-answer-des {
	display: inline-block;
}

.q-answer-like{
	vertical-align: top;
	width: 90px;
	padding-top: 70px;
}

.q-answer-txt p {
	margin-top: 20px;
}

.frm-answer-cmt{
	width: 100%;
}
.btn-answer-cmt {
	padding: 0px 10px;
	
}

.input-answer-cmt {
	width: 100%;
}
/* End Question Detail */

/* Start Your Answer */
.your-answer {
	margin-bottom: 30px;
}

.your-answer h4 {
	padding: 5px 0px;
	text-decoration: underline;
}

.your-answer textarea{
	width: 350px;
	height: 150px;
}
/* End Your Answer */






































/* Start Footer */
#footer {
	width: 100%;
	overflow: hidden;
	background-color: #656D78;
	color: #FFF;
	padding: 30px 0px;
}

#footer h4 {
	padding: 10px 0px;	
}

#footer ul {
	padding:0px;
}

#footer ul li {
	list-style-type: none;
	padding-top: 10px;	
}

#footer ul li a {
	color: #FFF;
}
/* End Footer */