#popup-q {
	display: none;
	position:fixed;
	width:100%;
	height:100%;
	background-color:#313131;
	overflow:auto;
	z-index: 99;
}

.popup-q-container {
	border: 2px solid #00b3ac;
	border-radius: 10px;
	padding-bottom: 50px;
	width: 90%;
	background-color:#fff;
	top:20px;
	left:5%;
	right:5%;
}

img#close {
position:absolute;
width: 30px;
height: 30px;
right:-7px;
top:-7px;
cursor:pointer
}
#popup-q a:hover {
	text-decoration: none;
}
#popup-q .btn-submit-q{
	color: #FFF;
}
.btn-submit-q {
	background-color:#00b3ac;
	color:#fff;
	padding: 10px 20px;
}

#editor {
	min-height: 150px;
}



/* tagsinput */
div.tagsinput {
  border: 1px solid #D5D5D5;
  background: #FFF;
  width: 100%;
  min-height: 30px;
  overflow-y: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
div.tagsinput span.tag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  text-decoration: none;
  background: #33414e;
  color: #FFF;
  margin: 2px 0px 2px 2px;
  line-height: 20px;
  padding: 2px 5px 2px 20px;
  position: relative;
}
div.tagsinput span.tag a {
  color: #FFF;
  text-decoration: none;
  position: absolute;
  left: 5px;
  width: 15px;
  height: 20px;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
div.tagsinput span.tag a:hover {
  opacity: 1;
  filter: alpha(opacity = 100);
}
div.tagsinput span.tag a:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f00d";
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
}
div.tagsinput input {
  width: 100%;
  margin: 4px 5px;
  border: 0px;
  height: 20px;
  line-height: 20px;
}
div.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #b64645 !important;
  color: #FFF !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 5px;
}
/* END tagsinput */