.tick-icon img{
	width:50px; 
	height:50px;
}
.khmer-font{
	padding-top:8px;
	font-family: 'Khmer OS System';
	text-align:center;
	font-size:18px;
	margin:auto;
}
.school,.language,.technology,td{
	text-align:center;
	}
.school{
	width:400px;
	height:80px;
	}
.language,.technology {
	width:200px;height:80px;
	}
th{
	background-color:#00b3ac;
	color:#FFF;
	font-size:28px;
	}
td{
	width:200px;height:80px;
	}
tbody td:hover{
	cursor: pointer;
}
.wrap-button{
	display: flex;
  	align-items: center;
  	justify-content: center;
	}
.btn-submit, .btn-skip {
	margin:40px;
	color:white;
	font-size:20px;
	background-color:#00b3ac;
	border-radius:5px;
	text-transform: uppercase;
	padding: 5px 15px;
}
.btn-submit:hover, .btn-skip:hover {
	color: #EFEFEF;
}
.highlight {
    background-color: #cecece;
}
