@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	font-family: 'Khmer OS System';
	font-size: 16px;
}

.zero {
	padding: 0px;
	margin: 0px;	
}

.inline {
	display: inline-block;	
}
/* Start Header */
#header {
	background-color: #00b3ac;
}

#header img{
	margin-top: 5px;
}

.banner {
	height: 80px;	
}

.banner h1{
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 20px;
	padding-left: 20px;
}

.banner .dash {
	font-size: 46px;
	color: #FFF;
	padding-left: 20px;
}

.search {
	padding-top: 20px;	
}

.search input {
	height: 40px;
	font-size: 17px;
}

.search button {
	height: 40px;
	font-weight: bold;
	padding: 0px 20px;
	
}
/* End Header */

/* Start Mian */
.main {
	margin-top: 10px;
	padding: 0px;
}

.profile {
	background-color: #33414e;
	padding: 30px 0px 0px;
}

.profile-img {
	margin-top:20px;
}

.profile-img img {
	display: block;
	margin: 0px;
}
.profile h4,h5 {
	text-align: center;
	color: #FFF;
}

.profile h4 {
	padding-top: 10px;
	font-weight: bold;	
}

.logout {
	background: #b64645;
	padding: 10px 0px 15px;
	margin-top: 75px;
}

.logout a:hover {
	text-decoration: none;
}

.logout h4 {
	font-weight: bold;	
}
/* End Mian */

/* Start Widget */
.widget h2 {
	font-weight: bold;
	font-size: 3em;
}

.q-total {
	background-color: #95b75d;
}

.q-today {
	background-color: #fe9e19;
}

.q-week {
	background-color: #36b7e3;
}

.q-month {
	background-color: #b64645;
}

.q-total, .q-today, .q-week, .q-month {
	border-radius: 10px;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	padding: 10px 0px;
	margin-bottom: 10px;
}

/* Start Widget */

/* Start Menu */
.menu {
	padding: 0px;
}
.tbl-menu {
	background-color: #00b3ac;
	text-transform: uppercase;
	font-size: 22px;
}

.tbl-menu a {
	padding-left: 40px;
	color: #FFF;
	display: block;
}

.tbl-menu a:hover {
	text-decoration: none;
}

.tbl-menu tr:hover {
	background-color: #95b75d;
}
/* End Menu */

/* Start Category */
.cat-title {
	background-color: #00b3ac;
	text-align: center;
	font-size: 22px;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #00b3ac;
}

.cat .list-group-item-action{
	padding-left: 40px;
}

.list-group-item-action {
	border: 1px solid #00b3ac;
	font-size: 18px;
}

/* End Category */

/* Start Questions List */
.main-q {
	padding: 0px 30px;
}

.tbl-q-list thead {
	background-color: #00b3ac;
	text-transform: uppercase;
	font-size: 22px;
	color: #FFF;
}

.tbl-q-list thead tr th {
	text-align: center;
}

.tbl-q-list tbody tr td {
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}
/* End Questions List */

/* Start Add Category */
.add-cat {
	background-color: #337ab7;
	color: #FFF;
	text-align: center;
	width: 100%;
	font-size: 24px;
	padding: 25px 0px;
	font-weight: bold;
	border-radius: 5px;
}

.input-add-cat {
	margin-top:	10px;
	margin-bottom:	10px;
}

.input-cat, .btn-add-cat {
	height: 50px;
	font-size: 18px;
	padding: 0px 20px;
}

.list-cat {
	margin-top: 20px;
}	

.cat-action {
	float: right;	
}

.cat-name {
	font-size: 20px;
	font-weight: bold;
}

.cat-name-action {
	float: right;
}
/* Start Add Category */

/* Start Add Topic */
.list-topic {
	margin-top: 20px;	
}

.add-topic {
	background-color: #337ab7;
	color: #FFF;
	text-align: center;
	width: 100%;
	font-size: 24px;
	padding: 10px 0px;
	font-weight: bold;
	border-radius: 5px;
}

.input-add-topic {
	margin-top:	10px;
}

.select-cat {
	margin-top: 11px;
	margin-bottom: 40px;
}

.btn-add-topic {
	padding: 26px;	
	font-size: 18px;
}

.list-topic .list-topic-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
/* Start Add Topic */

/* Start List Tag */
.list-tag-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;	
}
/* End List Tag */

/* Start Question LIst */

.name-right{
	text-align: right;
	font-size: 15px;
}

.name-right a {
	color: #333;
	font-weight: bold;
}

hr{
	border-top: 1px solid #DDD;
}

.q-head {
	margin-bottom: 40px;
	color: #FFF;
}

.name-tag-index {
	background-color: #999;
	color: white;
	font-size: 10px;
	padding: 1px 5px;
	border-radius: 2px;
	margin-right: 5px;
	text-transform: uppercase;
}

.q-tag {
	padding: 0px;
}
.q-tag a:hover{
	text-decoration: none;
}

.name-tag-index:hover{
	color: #DDD;
}

.question a{
	color: #333;
}

.show-more {
	text-align: center;
	margin-top: 40px;
}

.show-more a {
	color: #000;
}

.show-more h4 {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.col-md-5 a {
	font-weight: bold;
}

.col-md-5 {
	font-size: 15px;
}
/* End Question LIst */

/* Start Pagination */
.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #00b3ac;
    color: white;
    border: 1px solid #00b3ac;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
/* Start Pagination */




















/* Start Footer */
#footer {
	background-color: #00b3ac;
	padding: 10px 0px;	
}

#footer h4{
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
/* End Footer */